@import 'components/header';
@import 'components/footer';
@import 'base/variables';
@import 'base/mixins';

body {
    background-color: rgb(204, 204, 204);
    flex-wrap: wrap;
    min-width: 100%;
    width: 100%;
    height: 100%;

}

.contenedor{
    width:100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap:10px;
    grid-template-rows: repeat (4,auto);

    grid-template-areas:"header header header"
                        "contenido contenido contenido"
                        "contenido_b contenido_b contenido_b"
                        "foot foot foot"}

                       
 //*index*//

.main_section {
    position: relative;
}

.imagtc {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.main_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-principal;
    font-size: 25px;
    line-height: 2;
}

.main_p {
    margin: 20px 20px;
    
}

//*last new section*//

.news-container{
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    grid-column-gap: 9px;
    grid-row-gap: 13px;
    object-fit: cover;
    grid-gap: 10px;
    }
    .youtube{
        width: 100%;
        padding: 20px;
        margin: 20px;
    }
    
    .last_new_title {
        text-align: center;
        margin: 20px 0;
    }
    
    p {
        font-size: $medida-tipografia;
        font-family: sans-serif;
        color: $color-tipografia;
        margin: 20px;
    }
    
    
    h3 {
        font-family: Verdana;
        color: $color-principal;
        font-size: x-large;
        margin: 20px;
        padding: 20px;
    }
    
    
    .youtubemaps{
        background-position: 100%;
        width: 100%;
        height: 100%;
        margin: 20px;
    }
    
    .grid-containeredes {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-area: auto;
        gap: 4px; 
        justify-content: flex-start;
    
       
    }

    /******** Servicios*******/
.circuito-txt {
    padding: 2%;
    margin: 2%;
    text-align: center;
    font-size: 2vw;
    
    

}

.circuito-p {
    font-size: $medida-tipografia;
    padding: 20px;
    border: 20px;
    text-align: center;
   font-size: 2vw;
   }

   @media screen and (max-width: 600px){
    .circuito-p{
        display: none;
    }
    
    
}


/* Contacto */

.parent { 
    display: grid; 
    grid-template-columns:(1fr, 1fr); 
    gap: 20px;
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
    .form-contact { grid-area: 1 / 1 / 2 / 2; } 
    .container-contact { grid-area: 1 / 2 / 2 / 3; } 




#datos-contacto{
    list-style: none;
    padding: 0px 50px;
}


ul li {
    color: $color-principal;
}

 h1 {
    color: $color-principal;
    display: flex;
    justify-content:left;
    text-align:left;
}

section img  {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.google-map{
    width: 90%;
    height: 90%;
    margin: 20px;
    padding: 20px;

}


.form-contact{
    width: 500px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color:$color-tipografia;
    background-color:$color-principal;
    box-shadow: 7px 13px 37px #000;

}

.contctrl{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid $color-tipografia;
    font-size: 18px;
    background-color: $color-principal;
    color: $color-tipografia;

}

.form-contact p{
    height: 40px;
    text-align:center ;
    font-size: 18px;

}
.form-contact a:hover{
    color:$color-tipografia;
    text-decoration: underline;

}

.form-contact .botons{
    width: 400px;
    background-color: $color-secundario;
    border: none;
    padding: 12px;
    font-size: 16px;
    margin: 16px;

}

/********** Turnos *********/

.turnos_item{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, 1fr);  
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin: 3%;
    font-size: 15px;
}

.form-control {
    width: 50%;
}
.form-select{
    width: 50%;
}

h1{
    padding: 1%;
    margin: 2%;
    font-size: 20px;

}
.take_turnos{
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    justify-content: center;

}
.info_turnos{
    grid-area: 2 / 1 / 3 / 2;
    align-items: center;
    justify-content: center;
}

.buton_turnos{
    grid-area: 3 / 1 / 4 / 2;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.botons {
    width: 350px;
    padding: 15px;
    margin: 35px;
    margin-bottom: 20%;
    background-color: $color-secundario;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}

@media screen and (min-width:600px) {
    .body {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .animate__animated{
        display: none;}
    }



