@import '../base/variables';


.footer {
	display: flex;
	background-color:  $color-principal;
	width: 100%;
	height: 100%;
	margin: 0px 30px;
}
.footer_img {
	background-image: url("logo.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-color: $color-principal;
	width: 90px;
}
.footer_list {
	list-style-type: none;
	display: flex;
	text-align: center;
	float: left;
	font-size: $medida-tipografia;
	color: $color-tipografia;
}
.footer_item {
	display: flex;
	text-decoration: none;
	color: $color-tipografia;
	text-align: center;
	float: right;
	padding: 20px;
	font-weight: 300;
	background-position: right;
}
em {
	font-size: 10px;
	display: flex;
	justify-content: center;
	color: $color-tipografia;
	text-align: center;
}